@font-face {
  font-family: 'Pokemon-GB';
  /* https://www.fontspace.com/pokemon-gb-font-f9621 */
  src: url(./PokemonGb-RAeo.ttf);
}

:root {
  --red: #ff0000;
  --blue: #2C399D; /*#3b4cca*/
  --yellow: #ffde00;
  --white: #fcfcfc;
  --light-grey: #ccc;
  --grey: #36454f;
  --turquoise: #40E0D0;
  --grey-tint: rgba(54, 69, 79, 0.192);
  --nav-interior: var(--white);
  --pokeball-gradient: linear-gradient(
    var(--red) 0%,
    var(--grey) 87%,
    var(--white) 95%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1 rem = 10px*/
  font-family: 'Pokemon-GB', 'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  width: 100%;
}
